<div class="card h-100 shadow">
    <img src="https://www.pmc.gov.au/sites/default/files/styles/news_centre_content_page_hero_image/public/media-release/digital-tech-taskforce-hero.jpg?itok=AZaJCF6e" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

