<!--<h5 class = "text-center">Number of products selected = {{productsSentByChild.length}}</h5>-->

<!--<div *ngFor = "let title of productsSentByChild" class = "text-center">{{title}}, </div> -->
<!--
<div class = "container">
    <h1 class = "display-3 text-center text-info">Products</h1>
</div>

<div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 pb-5 mb-5">
    <div class = "col p-3" *ngFor = "let prObj of products">
        <app-products-details [productObj] = prObj (myEvent) = "getProductDetailsFromChild($event)"></app-products-details>
    </div>
</div>
-->
<!--
<div class = "container">
    <h5>Products</h5>
</div>
-->

<ul class="nav nav-pills m-3 justify-content-evenly">
  <li class="nav-item">
    <a class="nav-link" routerLink="mobiles" routerLinkActive = "active">Mobiles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="bikes" routerLinkActive = "active">Bikes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="telephones" routerLinkActive = "active">Telephones</a>
  </li>
</ul>

<div class = "container">
  <router-outlet></router-outlet>
</div>

